img {
    max-width: 100%;
    height: auto;
}

section {
    paddind: 50px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;


}

html body {
background-color: #14002a;

}