{% extends "base.html" %}
{% block content %}

{% if current_user.admin_check == 1 %}
    <div class="container">
        <div>
            <a href="/admin/users" class="btn btn-danger" style="width: 24%;">Users</a>
            <a href="/admin/posts" class="btn btn-danger" style="width: 25%;">Posts</a>
            <a href="/admin/message" class="btn btn-danger" style="width: 25%;">Messages</a>
            <a href="/admin/admins" class="btn btn-danger" style="width: 24%;">Admins</a>
        </div>

        <div class="row"
             style="height: 85vh; background-color: #2227; border-radius: 5%; padding-left: auto; padding-right: auto; overflow: auto;">
            {% if edit_user %}
                {% if pos %}
                    {% if pos.position == 'general' %}
                        <div id="logreg-forms">
                            <div class="form-signin">
                                 <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">New admin</h1>
                                <form method="post" enctype="multipart/form-data">
                                    <input class="form-control" placeholder="New position" name="user_position_edit-{{id_for_edit}}" required>
                                    <br>
                                     <button type="submit" class="btn btn-primary" style="width: 100%;" name="new_admin_submit"><i
                                                                    class="fa-solid fa-chevron-right"></i></button>
                                </form>
                                <div style="color: red;">{{message}}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if new_admin %}
                {% if pos %}
                    {% if pos.position == 'general' %}
                        <div id="logreg-forms">
                            <div class="form-signin">
                                 <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">New admin</h1>
                                <form method="post" enctype="multipart/form-data">
                                    <input class="form-control" placeholder="User name" name="user_name" required>
                                    <input class="form-control" placeholder="Position" name="user_position" required>
                                    <br>


                                     <button type="submit" class="btn btn-primary" style="width: 100%;" name="new_admin_submit"><i
                                                                    class="fa-solid fa-chevron-right"></i></button>
                                </form>
                                <div style="color: red;">{{message}}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if admins %}
                {% if pos %}


                    <div style="color: white; align-items: center;">
                        <br>
                        {% if pos.position == 'general' %}
                            <span>
                                  <form action="" class="friends__block" method="post">
                                         <button name='new_admin' class="btn btn-sm btn-danger" style="margin-left: auto;
                                            width: 40%;
                                            margin-right: auto;
                                            display: flex;
                                            justify-content: center;
                                            flex-wrap: wrap;">
                                             New admin</button>
                                  </form>
                                    </span>
                        {% endif %}

                        <form action="" class="friends__block" method="post">




                            {% for admin1 in admins %}
                            {% set list1 = admin1.user.followers.split(', ') %}
                            {% set list2 = admin1.user.followings.split(', ') %}
                            {% set user_id_ = current_user.id | string() %}
                            <div class="card_friend p-3"
                                 style="background-color: #2d333b; border: 1px solid white; border-radius: 10px;">
                                <div class="object__block">
                                    <div class="image"><a href=""><img src="../static/avatars/{{ admin1.user.image }}" class="rounded"
                                                                       width="250"></a></div>
                                    <div class="ml-3 w-100">
                                        <h4 class="mb-0 mt-0" name="nickname" style="color: white;"><a
                                                href="/profile/{{admin1.user.name}}" style="text-decoration: none;">{{admin1.user.name}}</a>
                                        </h4> <span style="color: white;">{{admin1.user.about}}</span>
                                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                            <div class="d-flex flex-column"><span class="articles">Position</span> <span
                                                    class="number1">{{ admin1.position}}</span></div>
                                        </div>
                                        <div class="buttons__block">
                                            {% if pos.position == 'general' and current_user.id != admin1.user_id %}


                                                <button class="btn btn-sm btn-danger w-100" name="delete_user-{{admin1.user.id}}">Delete
                                                </button>
                                                <button class="btn btn-sm btn-danger w-100" name="edit_user-{{admin1.user.id}}">Edit position
                                                </button>
                                            {% endif %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </form>
                    </div>
                 {% endif %}
            {% endif %}
            {% if users %}
            <div style="color: white; align-items: center;">

                <form action="" class="friends__block" method="post">
                    {% if users %}
                    {% for user in users %}
                    {% set ids = current_user.followings.split(', ') %}
                    {% set list1 = user.followers.split(', ') %}
                    {% set user_id_ = current_user.id | string() %}
                    <div class="card_friend p-3"
                         style="background-color: #2d333b; border: 1px solid white; border-radius: 10px;">
                        <div class="object__block">
                            <div class="image"><a href=""><img src="../static/avatars/{{ user.image }}" class="rounded"
                                                               width="250"></a></div>
                            <div class="ml-3 w-100">
                                <h4 class="mb-0 mt-0" name="nickname" style="color: white;"><a
                                        href="/profile/{{user.name}}" style="text-decoration: none;">{{user.name}}</a>
                                </h4> <span style="color: white;">{{user.about}}</span>
                                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                    <div class="d-flex flex-column"><span class="articles">Posts</span> <span
                                            class="number1">{{ user.post_count }}</span></div>
                                    <div class="d-flex flex-column"><span class="followers">Followers</span> <span
                                            id="followers-count-{{user.id}}" class="number2">{% if user.followers %} {{list1|length}} {% else %} 0 {% endif %}</span>
                                    </div>
                                    <div class="d-flex flex-column"><span class="rating">Following</span> <span
                                            class="number3">{% if user.followings %} {{ids|length}} {% else %} 0 {% endif %}</span></div>
                                </div>
                                <div class="buttons__block">
                                    {% if current_user.id != user.id %}


                                        <button class="btn btn-sm btn-danger w-100" name="delete_user-{{user.id}}">Delete
                                        </button>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>

            {% endif %}
            {% if messages %}
            <div class="card chat-app" style="height: 85vh; background-color: #2227; border-radius: 5%;">
                <div class="chat" style="max-height: 100%; ">

                    <div class="chat-history" id="chat_for_js">
                        <ul class="m-b-0">
                            {% for item in messages%}

                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class=message-data-time" style="color:red;"> {{item.user.name}}</span>
                                    <span class="message-data-time" style="color: white;">{{item.created_date.strftime('%H:%M')}} {{item.created_date.strftime('%d %B %Y')}}</span>
                                    <form action="" method="post">
                                        <span><button class="btn btn-sm btn-danger" name="delete_message-{{item.id}}"><i
                                                class="fa-solid fa-trash"></i></button></span>
                                    </form>

                                </div>
                                <div class="message other-message float-right">{{item.content}}</div>

                            </li>

                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            {% endif %}
            {% if posts %}
            <div>
                <ul class="timeline">
                    {% for item in posts|reverse%}
                    <li>
                        <div class="timeline-time">
                            <span class="time" style="color: white;">{{item.created_date.strftime('%d %B %Y')}}</span>
                            <span class="time" style="color: white;">{{item.created_date.strftime('%H:%M')}}</span>

                        </div>
                        <div class="timeline-icon">
                            <a href="#"></a>
                        </div>
                        <div class="timeline-body">
                            <div class="timeline-header">
                            <span class="userimage"><a href="/profile/{{item.user.name}}"><img
                                    src="../static/avatars/{{item.user.image}}" alt=""></a></span>


                                <span class="username"><a href="/profile/{{item.user.name}}">{{item.user.name}}</a></span>


                            </div>


                            <div class="timeline-content">

                                <p style="color: red;">
                                    <img src="../static/post_image/{{item.image}}" alt="">
                                    {{item.content}}
                                </p>
                            </div>

                            <div class="timeline-footer">
                                <form method="post" enctype="multipart/form-data">
                                    <button class="btn btn-sm btn-danger w-100" name="delete_post-{{item.id}}">Delete
                                    </button>


                                </form>
                            </div>
                        </div>

                        <br>


                    </li>

                    {% endfor %}
                </ul>


            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    crossorigin="anonymous"></script>
            {% endif %}

            </form>
        </div>

    </div>
    </div>
{% else %}
    <h1 style="color: red;">Куда мы лезем боже</h1>
{% endif %}
{% endblock %}