{% extends "base.html" %}
{% block content %}
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Write you friend's nickname" aria-label="Write you friend's nickname" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Дэб дэбович ШПАК</h5>
      <p class="card-text">дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб.</p>
      <a href="#" class="btn btn-primary">написаать</a>
      <a href="#" class="btn btn-primary">удоляй при мне</a>
    </div>
  </div>
  <br>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Дэб дэбович ШПАК</h5>
      <p class="card-text">дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб дэб.</p>
      <a href="#" class="btn btn-primary">написаать</a>
      <a href="#" class="btn btn-primary">удоляй при мне</a>
    </div>
  </div>
{% endblock %}