{% extends "base.html" %}
{% block content %}
<div class="friends__block">

  <div class="input-group mb-3" style="margin-left: 200px; margin-right: 200px;">
    <input type="text" class="form-control" placeholder="Write you friend's nickname" aria-label="Write you friend's nickname" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

  <div class="card" style="width: 250px;">
    <img src="../static/img/ava.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">my nickname</h5>
      <p class="card-text">about me</p>
      <a href="#" class="btn btn-primary">message</a>
      <a href="#" class="btn btn-primary">delete</a>
    </div>
  </div>

</div>
{% endblock %}