{% extends "base.html" %}
{% block content %}

<div id="logreg-forms">
    <div class="form-signin">
         <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Confirm email</h1>
        <form action="" method="post">
            <input class="form-control" placeholder="Submit code" name="code_user-{{code}}" id="code_user">

             <button type="submit" class="btn btn-warning" style="width: 100%;"><i
                                            class="fa-solid fa-chevron-right"></i></button>
            <div style="color: white;">На вашу почту отправлен код</div>

        </form>
    </div>
</div>
{% endblock %}