{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">

        <div class="card chat-app" style="height: 85vh; background-color: #2227;">
            <div id="plist" class="people-list" style="overflow: auto; max-height: 100%;">

                <ul class="list-unstyled chat-list mt-2 mb-0" style="">
                    {% for user in friends%}
                    {% set ids = current_user.followings.split(', ') %}
                    {% set list1 = user.followers.split(', ') %}
                    {% set user_id_ = current_user.id | string() %}

                    <a href="/message/{{ user.id }}" style="text-decoration: none;">
                        <li class="clearfix" style="border: 1px solid grey;">
                            <img src="../static/avatars/{{user.image}}" alt="avatar">
                            <div class="about">
                                <div class="name" style="color: white; margin-left: 60px; margin-top: 12px;">{{user.name}}</div>
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="chat" style="max-height: 50%;">
                <div class="choose__text">
                    <div class="alert alert alert-dark" role="alert" style="color: white; background-color: #22272e">
                        Сhoose who you would like to write to
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        chat_for_js.scrollTop = chat_for_js.scrollHeight;

    </script>
</div>

{% endblock %}