{% extends "base.html" %}
{% block content %}

<div id="logreg-forms">
    <div class="form-signin">
         <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Forgot password</h1>
        <form method="post" enctype="multipart/form-data">
            <input class="form-control" placeholder="New password" name="new_password">
            <input class="form-control" placeholder="Repeat new password" name="repeat_password">
            <br>


             <button type="submit" class="btn btn-primary" style="width: 100%;" name="change_password"><i
                                            class="fa-solid fa-chevron-right"></i></button>
            <br>
            <br>
        </form>
        <div style="color: red;">{{message}}</div>
    </div>
</div>
{% endblock %}